/*
    ### Mixins ###
*/
/*
    ### Variables ###
*/
/*
    ### Globals ###
*/
html {
  font-family: "Spartan", sans-serif;
  font-size: 10px;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

/*
    ### Review content ###
*/
.wrapper {
  padding: 10px;
  height: 100%;
  background: url(/images/bg-pattern-bottom-mobile.svg) fixed no-repeat bottom center, url(/images/bg-pattern-top-mobile.svg) fixed no-repeat top center;
  /*
    ### Introduce ###
*/
  /*
    ### Rates ###
*/
  /*
    ### Opinions ###
*/
}

@media screen and (min-width: 1024px) {
  .wrapper {
    background: url(/images/bg-pattern-top-desktop.svg) fixed no-repeat top left, url(/images/bg-pattern-bottom-desktop.svg) fixed no-repeat bottom right;
    padding: 100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: (100px)[6];
        grid-template-rows: repeat(6, 100px);
  }
}

.wrapper .introduce {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .wrapper .introduce {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / 4;
  }
}

.wrapper .introduce__title {
  color: #502050;
  font-size: 2.25rem;
}

.wrapper .introduce__desc {
  font-weight: 500;
  font-size: 1.2rem;
  color: #937b92;
  padding: 5px;
}

.wrapper .rates__item {
  background-color: #f7f2f7;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}

.wrapper .rates__star {
  height: 20px;
  width: 85px;
  background: url(/images/icon-star.svg) repeat-x;
  margin: 0 auto;
}

.wrapper .rates__desc {
  font-size: 1rem;
  font-weight: 700;
  color: #502050;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .wrapper .opinions {
    grid-column: 1 / -1;
    grid-row: 4 / -1;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 0;
  }
}

.wrapper .opinions__item {
  background-color: #502050;
  margin: 10px;
  padding: 25px;
  border-radius: 5px;
}

@media screen and (min-width: 1024px) {
  .wrapper .opinions__item--first {
    height: 200px;
    width: 300px;
  }
  .wrapper .opinions__item--second {
    height: 200px;
    width: 300px;
  }
  .wrapper .opinions__item--third {
    height: 200px;
    width: 300px;
  }
}

.wrapper .opinions__quote {
  text-align: initial;
  color: #fff;
}

.wrapper .personals {
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 100px;
      grid-template-columns: 50px 100px;
  -ms-grid-rows: 15px 15px;
      grid-template-rows: 15px 15px;
      grid-template-areas: "image name" "image state";
  padding: 5px 0 10px 0;
}

.wrapper .personals__photo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: image;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.wrapper .personals__name {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
  font-weight: 550;
}

.wrapper .personals__state {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: state;
  color: rgba(238, 104, 164, 0.6);
  font-weight: 400;
}

/* To make code more readable i resign from 3 level deep nesting */
/*# sourceMappingURL=style.css.map */