/*
    ### Mixins ###
*/

@mixin reset {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
    ### Variables ###
*/
$font: 'Spartan',
sans-serif;
$fontsize: 10px;
$h1nratecolor:hsl(300, 43%, 22%);
$hfontsize: 2.25rem;
$descfontsize: 1.2rem;
$bgstars:hsl(300, 24%, 96%);
/*
    ### Globals ###
*/

html {
    font-family: $font;
    font-size: $fontsize;
    height: 100%;
}

body {
    @include reset();
    height: 100%;

}

/*
    ### Review content ###
*/

.review {
    padding: 10px;
    height: 100%;
    background: url(/images/bg-pattern-bottom-mobile.svg) fixed no-repeat bottom center, url(/images/bg-pattern-top-mobile.svg) fixed no-repeat top center;
}

/*
    ### Introduce ###
*/
.introduce {
    text-align: center;

    &__title {
        color: $h1nratecolor;
        font-size: $hfontsize;
        
    }

    &__desc {
        font-weight: 500;
        font-size: $descfontsize;
        color: hsl(303, 10%, 53%);
        padding: 5px;
        }
}

/*
    ### Rates ###
*/
.rates {

    &__item {
        background-color: $bgstars;
        padding: 5px;
        margin: 10px;
        border-radius: 5px;
    }

    &__star {
        height: 20px;
        width: 85px;
        background: url(/images/icon-star.svg) repeat-x;
        margin: 0 auto;

    }

    &__desc {
        font-size: 1rem;
        font-weight: 700;
        color: hsl(300, 43%, 22%);
        text-align: center;
    }
}

/*
    ### Opinions ###
*/
.opinions {
    display: flex;
    flex-flow: column wrap;

    &__item {
        flex: 1;
        background-color: hsl(300, 43%, 22%);
        margin: 10px;
        padding: 25px;
        border-radius: 5px;

        .personals {
            color: #fff;
            display: grid;
            grid-template-columns: 50px 100px;
            grid-template-rows: 15px 15px;
            grid-template-areas:
                "image name"
                "image state";
            padding: 5px 0 10px 0;

            &__photo {
                grid-area: image;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                
            }

            &__name {
                grid-area: name;
                justify-self: start;
                align-self: center;
                font-weight: 550;
            }

            &__state {
                grid-area: state;
                justify-self: start;
                align-self: center;
                color: hsla(333, 80%, 67%, .6);
                font-weight: 400;
            }
        }
    }

    &__desc {
        text-align: initial;
        color: #fff;
    }
}