/*
    ### Mixins ###
*/

@mixin reset {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
    ### Variables ###
*/
    $font: 'Spartan', sans-serif;
    $fontsize: 10px;
    $h1nratecolor:hsl(300, 43%, 22%);
    $hfontsize: 2.25rem;
    $descfontsize: 1.2rem;
    $bgstars:hsl(300, 24%, 96%);
/*
    ### Globals ###
*/

html {
    font-family: $font;
    font-size: $fontsize;
    height: 100%;
}
body {
    @include reset();
    height: 100%;
    
}

/*
    ### Review content ###
*/
.social-proof-section {
    height: 100%;
}

.review {
    padding: 10px;
    height: 100%;
    background: url(/images/bg-pattern-bottom-mobile.svg) fixed no-repeat bottom center, url(/images/bg-pattern-top-mobile.svg) fixed no-repeat top center;
    
    &__section {
        text-align: center;
    }
    /*
        ### Introduce ###
    */
    &__title {
        color: $h1nratecolor;
        font-size: $hfontsize;
    }
    &__desc {
        font-weight: 500;
        font-size: $descfontsize;
        color: hsl(303, 10%, 53%);
    }
    /*
        ### Rates ###
    */
    &__item--rate {
        background-color: $bgstars;
        padding: 5px;
        margin: 10px;
        border-radius: 5px;
    }
    &__star {
        background: url(/images/icon-star.svg) repeat-x;
        background-size: cover;
        
    }
    &__desc--rate {
        font-size: 1rem;
        font-weight: 700;
        color: hsl(300, 43%, 22%); 
    }
    /*
        ### Opinions ###
    */
    &__section--opinions {
        display: flex;
        flex-flow: column wrap;
    }
    &__item--opinion {
        flex: 1;
        background-color: hsl(300, 43%, 22%);
        margin: 10px;
        padding: 5px;
        border-radius: 5px;
        
    }
    &__personal-data {
        padding: 7px 10px 0px;
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-template-rows: 20px 20px;
        grid-template-areas: 
            "image name"
            "image state"
        ;
        color: white;
        
    }
    &__personal-photo {
        grid-area: image;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    &__personal-name{
        grid-area: name;
        justify-self: start;
        
    }
    &__personal-state{
        grid-area: state;
        justify-self: start;
        align-self: start;
    }
    &__desc--opinion {
        text-align: initial;
        padding: 10px;
    }
    
    
    
}